*.o
*.lo
*.la
.dirstamp
Makefile
Makefile.in
.libs
.deps
stamp-h1
folly-config.h
_configs.sed
aclocal.m4
autom4te.cache
build-aux
libtool
folly/test/gtest-1.*
folly/folly-config.h
folly/test/*_benchmark
folly/test/*_test
folly/test/*_test_using_jemalloc
folly/config.*
folly/configure
folly/m4/libtool.m4
folly/m4/ltoptions.m4
folly/m4/ltsugar.m4
folly/m4/ltversion.m4
folly/m4/lt~obsolete.m4
folly/generate_fingerprint_tables
folly/FormatTables.cpp
folly/EscapeTables.cpp
folly/GroupVarintTables.cpp
folly/FingerprintTables.cpp
.idea/
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake_install.cmake
folly/CMakeFiles/
folly/build/CMakeFiles/
folly/build/cmake_install.cmake
folly/cmake_install.cmake
folly/detail/CMakeFiles/
folly/detail/cmake_install.cmake
folly/experimental/CMakeFiles/
folly/experimental/cmake_install.cmake
folly/experimental/io/CMakeFiles/
folly/experimental/io/cmake_install.cmake
folly/fibers/CMakeFiles/
folly/fibers/cmake_install.cmake
folly/futures/CMakeFiles/
folly/futures/cmake_install.cmake
folly/io/CMakeFiles/
folly/io/async/CMakeFiles/
folly/io/async/cmake_install.cmake
folly/io/async/ssl/CMakeFiles/
folly/io/async/ssl/cmake_install.cmake
folly/io/cmake_install.cmake
folly/portability/CMakeFiles/
folly/portability/cmake_install.cmake
folly/stats/CMakeFiles/
folly/stats/cmake_install.cmake
install_manifest.txt
libfolly.a
